# Add any directories, files, or patterns you don't want to be tracked by version control

*undo-tree*
*.pandoc
package/**/*.pandoc
*/**/*.pandoc
*.ltjruby
package/**/*.ltjruby
*.*

!*.md
!*.pdf
!*.tex
!*.cls
!*.png
!*.jpg
!*.docx
!*.el
!*.latexmkrc
!*.ist
!*.epub
!*.html
